<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Add-User</title>
</head>
<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a href="/add-new-user">Create User</a>
        <a href="/contact" >Contact</a>
        <a href="/about" class="active">About</a>
      </div>
      <div> ĐÂY LÀ TRANG ABOUT</div>
</body>
</html>