<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Add-User</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
      </div>
      <div class="formadduser">
        <form method="post" action="add-new-user" >
            <Fieldset class="lguser">
                <legend >ADD-USER </legend>
                    <div class="item-user">
                        <label for="email"> Email:</label>
                        <input type="text" name="email" id="">
                    </div>
                    <div class="item-user">
                        <label for="name"> NAME:</label>
                        <input type="text" name="name" id="">
                    </div>
                    <div class="item-user">
                        <label for="city"> CITY:</label>
                        <input type="text" name="city" id="">
                    </div>

                    <div class="item-user">
                        <input type="submit" value="Save">
                    </div>
            </Fieldset>
        </form>
      </div>
</body>
</html>